@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');


li{
    list-style: None;
    height:30px;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    margin:8px;
    text-align: center;
    }